@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
  color: rgb(48, 53, 73);
}

.spinner {
  animation: spin infinite 1s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
